/* Hover en cards */
.card-accessory {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-accessory:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 193, 7, 0.2) !important;
}

/* Imagen hover */
.card-accessory img {
  transition: transform 0.5s ease;
}

.card-accessory:hover img {
  transform: scale(1.05);
}
