<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2 class="display-4">Quiénes Somos</h2>
      <p class="lead">Somos un equipo de estudiantes trabajando en el desarrollo de aplicaciones web funcionales.</p>
      <p>Este proyecto forma parte de la 3ra Evaluación de LM, donde aplicamos integración de APIs, estructuras JSON y diseño responsivo[cite: 9, 16].</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://via.placeholder.com/400x300" alt="Equipo" class="img-fluid rounded shadow">
    </div>
  </div>
</div>
